.header {
  z-index: 100;
  position: fixed;
  padding-top: 5vh;
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18%;
}

.contact {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .phoneWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
  }
  .tell {
    .a {
      text-decoration: none;
      color: var(--black);
    }
  }
}

.phoneNumber,
.cartIcon {
  cursor: pointer;
}

.phoneIcon {
  fill: var(--birch);
  &:hover {
    fill: var(--white);
  }
}

.phone {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: var(--birch);
  }
  cursor: pointer;
}

.cartContainer {
  position: relative;
  display: inline-block;
}

.cartBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -15px;
  background-color: var(--taupe);
  color: var(--white);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 9px;
}
@media (max-width: 768px) {
  header {
    max-width: 100%;
  }
}
