.contactCard {
  padding-top: 190px;
  display: flex;
  flex-direction: column;
  width: 100%;

  .heading {
    display: flex;
    flex-direction: column;
    gap: 26px;
    &__contact {
      font-size: 51px;
    }
    &__paragraph {
      font-size: 17px;
      word-spacing: 13px;
    }
  }
  .map {
    border: 0;
    width: 100%;
    max-width: 1109px;
    height: auto;
    aspect-ratio: 1109 / 476;
    margin-top: 214px;
  }

  .description {
    display: flex;
    max-width: 943px;
    justify-content: space-between;
    margin-top: 130px;
    &__child {
      display: flex;
      flex-direction: column;
      gap: 19px;
      p {
        font-size: 17px;
      }
      .link {
        font-size: 20px;
        color: var(--black);
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: var(--birch-transparent);
          transition: color 0.3s ease-in-out;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .contactCard {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 768px) {
  .heading .heading__contact {
    font-size: 40px;
  }
  .description {
    flex-direction: column;
    gap: 20px;
    .description__child {
      gap: 5px;
      font-size: 15px;
      .link {
        font-size: 18px;
      }
    }
  }
}
