.secondSection {
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.btn {
  margin-top: 27px;
  width: 243px;
  align-self: center;
}

.imageSection {
  display: flex;
  gap: 30px;
}

h2 {
  font-weight: var(--font-weight-regular);
  font-size: 40px;
}

