.cart__main_product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 99px;
  margin-top: 49px;
}

.image__product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.botton__product_delete {
  border: none;
  background-color: white;
  cursor: pointer;
}

.product__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 175px;
}

.product-qty {
  text-align: center;
  width: 46px;
  height: 46px;
  margin-left: -35px;
  padding-left: 15px;
}
