@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Medium.ttf");
}

:root {
  --khaki: #f1eadc;
  --birch: #6e9c9f;
  --birch-transparent: rgba(110, 156, 159, 0.95); 
  --font-family: "Raleway";
}
