:root {
  --khaki: #f1eadc;
  --birch: #6e9c9f;
  --white: white;
  --taupe: #998e78;
  --birch-transparent: rgba(110, 156, 159, 0.95);
  --beigeCream: #f1eadc;
  --softGray: #d1d1d1;
  --black: #000;
  --font-weight-regular: 450;
  --light-brown: #998e78;
  --light-grey: #909090;
  --medium-gray: #868686;
}
