.brand {
  display: flex;
  flex-direction: column;
  gap: 130px;
  max-width: 1029px;

  .brand__header {
    margin-top: 190px;

    .brand__header_title {
      display: flex;
      flex-direction: column;
      gap: 26px;
      padding-bottom: 84px;
    }

    .brand__name_brand {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 55px;
      line-height: 110%;
      letter-spacing: 0.02em;
      color: #000;
    }

    .brand__nav {
      display: flex;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 17px;
      letter-spacing: 0.02em;
    }

    .brand__nouneym {
      padding: 0px 13px 0px 13px;
    }

    .idea__p_gray {
      color: #909090;
    }
  }

  .idea {
    display: flex;
    align-items: center;
    gap: 123px;

    .idea__text {
    
      .idea__first_shop {
        margin-bottom: 23px;
      }

      p {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 17px;
        line-height: 140%;
        letter-spacing: 0.02em;
      }

      .idea_h2 {
        margin-bottom: 46px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 25px;
        line-height: 140%;
        letter-spacing: 0.02em;
      }
    }
  }

  .magic {
    display: flex;
    align-items: center;
    gap: 123px;

    .text {

      h2 {
        margin-bottom: 46px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 25px;
        line-height: 140%;
        letter-spacing: 0.02em;
      }

      .first_shop {
        margin-bottom: 23px;
      }

      p {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 17px;
        line-height: 140%;
        letter-spacing: 0.02em;
      }
    }
  }

  .shop_btn {
    max-width: 260px;
    align-self: center;
  }
}

@media (max-width: 768px) {
  .brand {
    padding: 20px;
    gap: 50px;

    .magic,
    .idea {
      flex-direction: column;
      gap: 30px;
      
      img {
        width: 100%;
      }
  
      .idea__text,
      .text {
        width: 100%;
        width: 100%;
        word-wrap: break-word;
      }
  
    }
  }
}

