.brand {
  display: flex;
  flex-direction: column;
  gap: 130px;
  max-width: 1029px;

  .idea {
    display: flex;
    align-items: center;
    gap: 123px;

    .idea__text {
      width: 542px;
      height: 393px;
    }

    p {
      font-family: var(--font-family);
        font-weight: 500;
        font-size: 17px;
        line-height: 140%;
        letter-spacing: 0.02em;
    }
  }

  .magic {
    display: flex;
    align-items: center;
    gap: 123px;

    .text {
      width: 542px;
      height: 393px;

      h2 {
        margin-bottom: 46px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 25px;
        line-height: 140%;
        letter-spacing: 0.02em;
      }

      .first_shop {
        margin-bottom: 23px;
      }

      p {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 17px;
        line-height: 140%;
        letter-spacing: 0.02em;
      }
    }
  }

  .shop_btn {
    max-width: 260px;
    align-self: center;
  }
}
