.productPage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
  padding-top: 10vh;
  gap: 70px;
  // height: 1000px;

  max-width: 1100px;
  width: 100%;

  .titleNav{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.product__title{
font-size: 55px;
line-height: 110%;
letter-spacing: 0.02em;
color: var(--black);
font-weight: 500;
}
}

.navigate{
  display: flex;
  gap: 10px;

  .desc{
    color: var(--medium-gray);
  }
}

.product {
  display: flex;
  gap: 60px;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.product__image {
  // max-width: 1000px;
  img {
    width: 450px;
    height: 729;
  }
}

.product__info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 46px;

  .priceWrap{
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .newPrice{
font-size: 35px;
color: var(--sand);
  }
.oldPrice{
font-size: 25px;
text-decoration: line-through;
color: var(--medium-gray);
}
}

.product__sizes, .product__colors{
  display: flex;
  flex-direction: column;
  gap: 20px;
.p{
  font-size: 18px;
}

}

.sizeOptions, .colorOptions {
  display: flex;


.sizeButton, .colorButton {
    margin: 5px;
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    flex: 1 1 auto; 
    border: 1px solid var(--black);
    background-color: var(--white);

    
    @media (min-width: 576px) {
      flex: 0 1 auto;
    }
  }

  .active{
      background-color: var(--black);
      color: var(--white);
     
    }
  .colorButton{
    border-radius: 50%;
    border: none;

  }

   .active{
      border: 1px solid var(--black);
    }
}
.product__quantity{
  display: flex;
  gap: 10px;
  .btn{
 padding: 20px 45px;
  height: 68px;
  border: none;
  cursor: pointer;
  width: 100%; 
  font-size: 15px;

  }

}

  button {
    width: 100px;
    height: 68px;
  }

.errorMessage {
  color: red;
  margin: 10px 0;
}
.relateWrap{
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 300px;
  .relate{
    display: flex;
    gap: 50px;
  }
  .relateTitle{
    font-size: 30px;
  }
}













