.header {
  position: absolute;
  top: 51px;
  z-index: 100;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
}

.contactContainer,
.cartBadge,
.phoneIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu li a,
.phoneNumberImg,
.cartIcon {
  cursor: pointer;
}

.phoneIcon {
  fill: var(--birch);
  &:hover {
    fill: white;
  }
}

.phoneIconContainer {
  width: 27px;
  height: 27px;
  background-color: transparent;
  &:hover {
    background-color: var(--birch);
  }
}

.cartContainer {
  position: relative;
  display: inline-block;
}

.cartBadge {
  position: absolute;
  top: -5px;
  right: -15px;
  background-color: #998e78;
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 9px;
}
