.header {
  width: 100%;
  position: absolute;
  top: 51px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;

}
nav {
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    li {
      padding: 0;
    }
  }
}

.contactContainer{
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .phoneWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
  }
  .tell {
    .a {
    text-decoration: none;
    color: var(--black);
    }
  }
  
}

.menu li a,
.phoneNumber,
.cartIcon {
  cursor: pointer;
}

.phoneIcon {
  fill: var(--birch);
  &:hover {
    fill: var(--white);
  }
}

.phoneContainer {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  &:hover {
    background-color: var(--birch);
  }
}

.cartContainer {
  position: relative;
  display: inline-block;
}

.cartBadge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -15px;
  background-color: var(--taupe);
  color: var(--white);
  width: 15px;                    
  height: 15px;
  border-radius: 50%;
  font-size: 9px;
}
