body{
  padding: 51px 245px;
}
.wrapper,.contactContainer,
  .cartBadge,.phoneIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu li a,.phoneNumberImg,.cartIcon{
    cursor: pointer;
  }
.wrapper {
  justify-content: center;  
  width: 1110px;
  height: 28px;
}

.phoneNumberImg{
  margin-left: 7px;
  margin-right: 67px;
}

.phoneIcon{
  fill: var(--birch);
}
.phoneIcon:hover{
  fill: white;
}
.phoneIconContainer{
    width: 27px;
    height: 27px;
    background-color: transparent;
}
.phoneIconContainer:hover{
  background-color: var(--birch);

  }
.cartContainer{
  position: relative;
  display: inline-block;
}
.cartBadge{
  position: absolute;
    top: -5px;
    right: -15px;
    background-color:#998E78;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 9px

}
