h3 {
  font-size: 25px;
  letter-spacing: 2%;
  line-height: 35px;
  font-weight: 500;
}

.formContiner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

input {
  width: 350px;
  height: 40px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  font-size: 17px;
}

textarea {
  border: none;
  font-size: 17px;
  border-bottom: 1px solid #000;
  outline: none;
}

.btn1 {
  background-color: #6e9c9f;
  color: white;
  width: 189px;
  height: 68px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.btn1:hover {
  background-color: #509498;
}

.continerBtn {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-direction: column;
}

.btn2 {
  background-color: #f1eadc;
  height: 84px;
  width: 437px;
  font-size: 17px;
  color: #000;
  text-align: center;
  border: none;
  padding-top: 30px;
}

.inputSection {
  display: flex;
  align-self: start;
  justify-content: flex-start;
  padding-top: 130px;
}
