.root {
  max-width: 686px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20%;

  .logo {
    display: flex;
    gap: 11px;
    align-items: center;
    
  }
    }
  
  .navigation {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px;
    li {
      text-wrap: nowrap;
      padding: 0;

  }
  
}
.o{
  color: var(--birch);
}