button {
  border: none;
  cursor: pointer;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 130px 230px;
}

.left {
  max-width: 563px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  .title {
    font-weight: 500;
    font-size: 55px;
  }

  .description {
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 140%;
    padding-right: 33%;
  }
  .btnsWrap {
    display: flex;
    align-items: center;
  }
  .arrow {
    padding: 19.5px 26px;
    background: rgba(110, 156, 159, 0.1);
  }
  .sliderBtns {
    display: flex;
    gap: 12px;
    align-self: center;
    margin-top: 112px;
    button {
      width: 30px;
      height: 4px;
      background: var(--softGray);
    }
    .active {
      background: var(--black);
    }
  }
}

.images {
  position: relative;
  .first {
    position: absolute;
    right: -100px;
    top: 123px;
  }
  .second {
    position: absolute;
    left: -130px;
    bottom: -60px;
  }
}

.right {
  background: var(--beigeCream);
  width: 45%;
  min-height: 826px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}




@media(max-width:1300px){
	.hero{
		padding: 130px 180px;
	}
	.left{
		gap: 40px;
		.title{
			font-size: 45px;
		}
		.btnsWrap{
			flex-direction: column-reverse;
			align-items: start;
			gap: 10px;
		}
		.arrow{
			padding: 19.5px 95px;
		}
		.description{
			padding-right: 20%;
		}
	}
	
	.images{
		.mainImg{
			width: 384px;
			height: 602;
		}
		.first{
			width: 147px;
			height: 147px;
		}
		.second{
			width: 140px;
			height: 268px;
			left: -70px;
			bottom: -40px;
		}
	}
}

@media (max-width:1024px){
	.hero{
		padding: 130px 150px 80px 150px;
		gap: 20px;
	}
	.images{
		.first,.second{
			display: none;
		}
	}
	.left{
		gap: 30px;
		.sliderBtns{
			display: none;
		}
		.description{
			padding: 0;
		}
		.btnsWrap{
			flex-direction: row;
			gap: 0;
		}
		.arrow{
			padding: 19.5px 26px;
		}
	}
}

@media (max-width:920px){
	.hero{
		padding: 130px 40px 50px 40px;
		justify-content: center;
	}
	.images{
		display: none;
	}
	.right{
		display: none;
	}
}

@media (max-width:580px){
	.left{
		.title{
			font-size: 30px;
		}
		.description{
			font-size: 18px;
		}
	}
}